<div class="sorting-actions">
  <span class="sorting-actions-title">Sorting by:</span>
  <button mat-stroked-button color="accent" (click)="sortHandler('date')">
    date
  </button>
  <button mat-stroked-button color="accent" (click)="sortHandler('views')">
    count of views
  </button>
  <form (submit)="filterHandler($event, filter.value)">
    <button mat-stroked-button color="accent" type="submit">
      by word or sentence
    </button>
    <mat-form-field class="sort-input">
      <input matInput autocomplete="off" #filter />
    </mat-form-field>
  </form>
</div>
