.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  border-right: none;

  mat-toolbar {
    display: flex;
    justify-content: space-between;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu-open-button {
  margin-right: 20px;
}

.search-block {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.auth {
  display: flex;
  align-items: center;
}

.sort-bar-button {
  margin-left: 1rem;
}
